#app {
    min-height: 100vh;
    position: relative;
}

h1,
h2,
h3,
p,
span {
    color: var(--c-black);
}

html,
body {
    padding: 0;
    margin: 0;
    list-style: 0;
}

.theme {
    background-color: var(--unset-bg);
}

header {
    background-color: rgba(255, 255, 255, 0.4);
}


/* yj 导航栏背景色*/

.nav-bar {
    width: 60%;
    position: fixed;
    left: 50% !important;
    top: 0;
    transform: translateX(-50%);
    border-bottom: unset !important;
    background-color: var(--unset-bg) !important;
    z-index: 2;
}

//用户名
.nav-bar-title {
    color: #fff !important;
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .nav-bar {
        width: 100%;
    }
}


/* 滚动条的宽度 */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* 滚动条的按钮 */

::-webkit-scrollbar-button {
    display: none;
}


/* 滚动条的滑块 */

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

.nav-bar>.nav {
    padding: 0 2rem;
}

.nav-bar>.nav {
    padding: 0 2rem;
}

.page {
    overflow: auto;
    min-height: 100vh;
}

.container {
    min-width: 50%;
}